.contenedorCalendario{
    width: 100%;
    display: flex;
    justify-content: center;
}

.calendario{
    left: 25%;
    width: 50%;
    position: relative;
    text-align: center;
}

.tableCalendar{
    margin: auto;
    border-collapse: collapse;
}

.tableCalendar thead{
    background-color:blanchedalmond;
    border-bottom: 2px solid red;
    margin: auto;
}

.tableCalendar td{
    text-align: center;
    border: 1px solid black;
    width: 70px;
    height: 70px;
}

.tableCalendar tbody td{
    cursor: pointer;
}

.tableCalendar tbody td:hover{
    background-color: aqua;
}

/*Ventana Modal*/
#btnOpenModal:checked ~ .modalContent{
    display: flex;
}

.modalContent{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;/*ubica por ensima de los demas elementos*/
}

.modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #9FD4F1;
    border-radius: 4px;
}

.modal h2{
    margin-bottom: 15px;
    color: #FFFFFF;
}

.modal p{
    padding: 15px 0;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.modal .exitModal{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.modal .exitModal label{
    padding: 7px 10px;
    background-color: #275167;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    transition: all;
}

.modal .exitModal label:hover{
    background-color: #4893BC;
}

#closeOfFocus{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
