.content{
    margin: 40px auto;
    display: block;
    text-align: center;
}

.article{
    text-align: justify;
}

.article p{
    width: 80%;
    margin: 2% 10%;
    padding: 25px 15px;
    font-size: large;
}

.dowloadButton{
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #275167;
}

.dowloadButton:hover{
    background-color: #4893BC;
}