/*pagina inicio*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*etiquetas generales*/
body{
    display: flex;
    flex-flow: column;
}

header{
    background:#275167;
}

main{
    min-height: 80vh;
    background-color: #FFFFFF;
}

footer{
    color: #FFFFFF;
    background-color:#275167;
}

h1{
    text-align: center;
    font-size: 2.5em;
    color: #FFFFFF;
}

h2{
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
    background-color: #387292;
    border-radius: 5px;
}

h3{
    text-align: center;
    font-size: 1.5em;
    color: #17303D;
}

h4{
    margin: 0 15px;
    text-align: left;
    font-size: 1.5em;
    color: #31122C;
}

h5{
    text-align: left;
    font-size: 1.5em;
    color: #31122C;
}

.contenido{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: justify;
    display: flex;
    justify-content: center;
}

.articulo{
    width: 60%;
    font-size: 1em;
    border: 2px solid #275167;
    border-radius: 5px;
    background-color: #B1DCF4;
}

.articulo p{
    width: 100%;
    padding: 15px 15px;
    font-size: 1em;
}
/*fin etiquetas generales*/

/*barra de menu*/
#botonMenu{
    display: none;
}

#botonMenu:checked ~ .menu{
    margin: 0;
}

#etiquetaBotonMenu{
    display: none;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    border-right: 1px solid #FFFFFF;
}

#etiquetaBotonMenu img{
    width: 1.8em;
    height: 1.8em;
}

.menu{
    position: relative;
    width: 100%;
    background-color: #58B4E7;
}

header label:hover{
    cursor: pointer;
    background-color: #58E7E1;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li{
    flex-grow: 1;
    text-align: center;
    border-top: 1px solid #F0D6EC;
    border-right: 1px solid #F0D6EC;
}

.menu li:hover{
    background-color: #58E7E1;
}

.menu li a{
    display: block;
    padding: 1em 2em;
    color: #31122C;
    text-decoration: none;
}
/*fin barra de menu*/

/*Carrusel imagenes*/
.contenidoCarrusel{
    width: 100%;
    position: relative;
    background-color: #275167;
}
  
.anterior, .siguiente{
    cursor: pointer;
    position: relative;
    width: auto;
    padding: 16px;
    color: #31122C;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.anterior:hover, .siguiente:hover {
    background-color: #275167;
}

.imagenCarrusel{
    text-align: center;
    animation: fade 1s;
}

.imagenCarrusel img{
    width: 100%;
    height: 40vh;
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

.textoImagenCarrusel{
    color: #FFFFFF;
    font-size: 2.5em;
    position: relative;
}
/*fin carrusel imagenes*/

/*animacion*/
.contenidoAnimacion{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

#head {
    width: 100%;
    height: 40vh;
    animation: headAnimation 2s infinite;
}

@keyframes headAnimation {
    0% {
        transform: scale(1); /* Escala normal */
      }
    50%{
        transform: scale(1.1);
    }
    100% {
    transform: scale(1); /* Escala aumentada */
    }
}
/*fin animacion*/

/*Preguntas frecuentes*/
.contenedorAcordion{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 2%;
}

.acordion{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:#FFFFFF;
}

.acordion label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background-color: #17303D;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.acordion label:hover{
    background-color: #275167;
}

.acordion .contenidoAcordion{
    padding: 0px;
    max-height: 0px;
    overflow: hidden;/*oculta a contenido*/
    transition: all 300ms ease;
    border-radius: 5px;
    background-color: #58B4E7;
    text-align: justify;
}

.acordion .contenidoAcordion p{
    padding: 10px 15px;
}

.botonAcordion{
    display: none;
}

.botonAcordion:checked ~ .contenidoAcordion{
    max-height: 600px;
    padding: 15px 0px;
}
/*fin preguntas frecuentes*/

/*Formularios*/
.contenedorFormulario{
    width: 100%;
    display: flex;
    padding: 2em;
    justify-content: center;
}

.formulario{
    width: 30%;
    padding: 1.5em;
    border-radius: 5px;
    background-color: #B1DCF4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#formularioCitas{
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    background-color: #B1DCF4;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario .campoFormulario{
    padding: 1em;
    margin: 1em 1em;
    display: flex;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
}

.formulario .campoFormulario label{
    margin: auto;
    margin-left: 2%;
}

.formulario .campoFormulario input{
    width: 50%;
    height: 2em;
    margin-right: 2%;
    text-align: center;
}

#formularioCitas .campoFormulario input{
    width: 100%;
    height: 2em;
}

#formularioCitas .campoFormulario{
    padding: 0.5em;
    margin: 0.4em 1em;
    display: flex;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario #formulario #informacionPregunta{
    resize: none;
    width: 60%;
    height: 20em;
}

.formulario input[type="submit"] {
    background-color:  #275167;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #4893BC;
}

#noIguales{
    display: none;
    color: red;
}

.formulario .vinculosFormularios, #formularioCitas .vinculosFormularios{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
}
/*fin formularios*/

/*Citas*/
.cotenedorTarjetas{
    width: 100%;
    display: block;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap; /* Hace que las tarjetas se envuelvan cuando no haya suficiente espacio */
    justify-content: center;
}

.tarjeta{
    width: calc(20% - 40px); /* Ajusta el ancho de las tarjetas para que quepan tres en una fila */
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 500ms ease;
    background-color: #4893BC;
}

.tarjeta:hover{
    transform: translateY(-3%);
    background-color: #58B4E7;
}

.tarjeta img{
    width: 100%;
    height: 210px;
}

.tarjeta .textoTarjeta{
    padding: 5px 5px;
    text-align: justify;
}
/*fin citas*/

/*Buscar Medico*/
#informacionBusqueda{
    width: 80%;
}

#buscar{
    padding: 1%;
}

.lista{
    width: 60%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #B1DCF4;
}

#informacionMedicos{
    width: 100%;
    height: 20em;
    border-radius: 5px;
    border-collapse: collapse;
}

#informacionMedicos th{
    top: 0;
    padding: 1%;
    background-color: #58B4E7;
}

#informacionMedicos td{
    text-align: center;
    border: 1px solid #17303D;
    width: 150px; /* Ancho fijo para las celdas */
    max-width: 150px; /* M치xima anchura para las celdas */
    overflow: hidden; /* Oculta el contenido que excede el ancho m치ximo */
}

.contenedorLista{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedorBotones{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.botonesDesplazamiento{
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #9FD4F1;
    border-radius: 5px;
}
/*fin buscarMedico*/

/*Calendario*/
.contenedorCalendario{
    width: 100%;
    margin: 2% 0;
    display: flex;
    justify-content: center;
}

.calendario{
    width: 30%;
    padding: 2%;
    position: relative;
    background-color: #B1DCF4;
    border-radius: 5px;
}

#tablaCalendario{
    margin: auto;
}

#tablaCalendario td{
    width: 4em;
    height: 4em;
    text-align: center;
    border: 1px solid #17303D;
}

#encabezadoCalendario{
    width: 100%;
    display: flex;
    justify-content: right;
}

.contenedorCalendario td{
    cursor: pointer;
}

#tablaCalendario td:hover{
    background-color: #4893BC;
}

#tablaCalendario .CA{
    background-color: crimson;
}

#tablaCalendario .AG{
    background-color: yellow;
}

#tablaCalendario .AC{
    background-color: #275167;
}

#tablaCalendario .hoy{
    background-color: #58B4E7;
}

#tablaCalendario .mesAnterior,#tablaCalendario .siguienteMes{
    color: #7e7e7e;
}

#tablaCalendario .mesAnterior:hover, #tablaCalendario .siguienteMes:hover{
    background-color: #F0D6EC;
}
/*fin calendario*/

/*Sobre nosostros*/
.imagenConTitulo{
    width: 100%;
    position: relative;
    margin-bottom: 2%;
}

.imagenConTitulo img{
    width: 100%;
    height: 10em;
    object-fit: cover;
    border: 5px solid #4893BC;
}

.imagenConTitulo h2{
    position: absolute; /* Establece el posicionamiento absoluto */
    top: 50%; /* Coloca el h2 en la mitad superior del contenedor */
    left: 50%; /* Coloca el h2 en la mitad izquierda del contenedor */
    transform: translate(-50%, -50%); /* Centra el h2 horizontal y verticalmente */
    color: #FFFFFF; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 10px; /* Espacio alrededor del texto */
}
/*fin sobre nosotros*/

/*Contacto*/
#locales p{
    width: 70%;
    margin-left: 20%;
    background-color: #B1DCF4;
    border-radius: 5px;
    padding: 10px 60px;
}

.mapas{
    width: 100%;
    height: 30vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
}
/*fin contacto*/

/*Terminos de privacidad*/
.botonDescarga{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.botonDescarga a{
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #275167;
}

.botonDescarga:hover a{
    background-color: #4893BC;
}
/*fin terminos*/

/*Ventana Modal*/
.botonModal{
    padding: 10px 15px;
    background-color: #17303D;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

.botonModal:hover{
    background-color: #58B4E7;
} 

#fondoModal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    align-items: center;
    z-index: 100;
    display: none;
    justify-content: center;
    background-color: rgba(144, 148, 150, 0.8);
}

#contenedorModal{
    width: 60vw;
    max-width: 400px;
    max-height: 80vh;
    overflow-x: auto;
    overflow-y: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.contenidoModal{
    width: 100%;
    padding: 20px;
}

.contenidoModal p{
    padding: 15px 0px;
    border-top: 1px solid #B1DCF4;
    border-bottom: 1px solid #B1DCF4;
}

#btnCerrar{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    padding: 7px 10px;
    background-color: red;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

#btnCerrar:hover{
    background-color: #58B4E7;
}
/*fin ventana modal*/

/*Inicio Sesion*/
.soloParaSesion{
    display: none;
}
/*fin inicio sesion*/

/*Elementos footer*/
footer .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    padding: 2em 1em;
}

footer .grupo1 .cajaFooter p{
    color: #FFFFFF;
    margin-bottom: 10px;
}

footer .grupo1 .cajaFooter a{
    color:  #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .grupo1 .cajaFooter a:hover{
    color: #58E7E1;
}

footer .grupo2{
    background-color: #17303D;
    padding: 1.5em 0;
    text-align: center;
    color: #FFFFFF;
}

footer .grupo2 small{
    font-size: 15px;
}
/*fin elemento footer*/

/*Ajustes responsive*/
/*Principalmente tabletas*/
@media screen and (max-width:1024px){

    /*etiquetas generales*/
    h2{
        font-size: 2em;
    }

    .articulo{
        width: 80%;
        font-size: large;
    }

    /*menu*/
    #etiquetaBotonMenu{
        display: block;
    }

    .menu{
        position: absolute;
        background-color: #58B4E7;
        width: 70%;
        margin-left: -70%;
        z-index: 2;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top: 1px solid #FFFFFF;
    }
 
    /*formulario*/
    #formularioCitas .campoFormulario input{
        width: 100%;
    }

    /*contacto*/
    #locales p{
        width: 90%;
        margin-left: 5%;
        padding: 10px 40px;
    }

    /*formularios*/
    .formulario{
        width: 70%;
    }

    /*preguntas frecuentes*/
    .contenedorAcordion{
        width: 60%;
    }

    /*tabla de busqueda*/
    .lista{
        width: 80%;
    }

    /*calendario*/
    .calendario{
        width: 80%;
        padding: 20px 20px;
    }

    /*tarjetas de cita*/
    .tarjeta {
        width: calc(40% - 40px); /* Ajusta el ancho de las tarjetas para que ocupen todo el ancho en dispositivos peque침os */
    }

    /*modal*/
    .modal{
        width: 90%;
    }
}

/*Principalmenete moviles*/
@media screen and (max-width:760px) {

    /*etiquetas generales*/
    h2{
        font-size: 1.5em;
    }

    .articulo{
        width: 80%;
        margin-top: 2em;
        font-size: large;
    }

    /*menu*/
    #etiquetaBotonMenu{
        display: block;
    }

    .menu{
        position: absolute;
        background-color: #58B4E7;
        width: 70%;
        margin-left: -70%;
        z-index: 2;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top: 1px solid #FFFFFF;
    }

    /*animacion*/
    #head {
        width: 15em;
        height: 15em;
    }
    
    /*contacto*/
    #locales p{
        width: 94%;
        padding: 10px 10px;
    }

    /*formularios*/
    .contenedorFormulario{
        padding: 5px;
    }

    .formulario{
        width: 98%;
    }

    .formulario .campoFormulario{
        padding: 0.5em;
        margin: 1em 0px;
    }

    #formularioCitas .campoFormulario input{
        width: 100%;
    }

    .formulario #formulario #informacionPregunta{
        width: 80%;
    }

    /*preguntas frecuentes*/
    .contenedorAcordion{
        width: 90%;
    }

    /*tabla de busqueda*/
    .lista{
        width: 96%;
    }
    
    #informacionMedicos{
        width: 100%;
        font-size: 0.9em;
    }
    
    /*calendario*/
    .calendario{
        width: 96%;
    }

    /*tarjetas de cita*/
    .tarjeta {
        width: calc(80% - 40px); /* Ajusta el ancho de las tarjetas para que ocupen todo el ancho en dispositivos peque침os */
    }

    /*modal*/
    #contenedorModal{
        width: 80vw;
        max-width: 400px;
        max-height: 80vh;
        overflow-x: scroll;
        overflow-y: scroll;
        padding: 20px;
        border-radius: 5px;
        background-color: #FFFFFF;
    }

    .modal{
        width: 90%;
    }

    .botonModal{
        font-size: 0.8em;
        padding: 6px 6px;
    }
}   
/*fin ajustes responsive*/