/*pagina inicio*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background:#58B4E7;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 2.5em;
    color: #1b43be;
}

h2{
    text-align: center;
    font-size: 2em;
    color: #1b43be;
}

h3{
    text-align: center;
    font-size: 1.5em;
    color: #1b43be;
}

h4{
    text-align: center;
    font-size: 1em;
    color: #1b43be;
}

br{
    margin: 1.5px;
}

#buttonMenu{
    display: none;
}

#buttonMenu:checked ~ .menu{
    margin: 0;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

.menu{
    position: relative;
    background-color: #58B4E7;
    width: 100%;
}

header label:hover{
    cursor: pointer;
    background-color: #58E7E1;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li{
    flex-grow: 1;
    border-top: 1px solid #F0D6EC;
}

.menu li:hover{
    background-color: #58E7E1;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #31122C;
    text-decoration: none;
}

footer{
    width: 100%;
    background-color:#275167;
}

footer .group1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 2em 0;
}

footer .group1 .box p{
    color: #FFFFFF;
    margin-bottom: 10px;
}

footer .group1 .box a{
    color:  #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .group2{
    background-color: #17303D;
    padding: 1.5em 0;
    text-align: center;
    color: #FFFFFF;
}

footer .group2 small{
    font-size: 15px;
}
