/*pagina inicio*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 2.5em;
    color: #FFFFFF;
}

h2{
    text-align: center;
    font-size: 2em;
    color: #17303D;
}

h3{
    text-align: center;
    font-size: 1.5em;
    color: #17303D;
}

h4{
    margin: 0 11%;
    text-align: left;
    font-size: 1.5em;
    color: #31122C;
}

h5{
    text-align: left;
    font-size: 1.5em;
    color: #31122C;
}

.imagenConTitulo{
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 2%;
}

.imagenConTitulo img{
    width: 100%;
    height: 10em;
    object-fit: cover;
    display: block;
    border: 5px solid #4893BC;
}

.imagenConTitulo h2{
    position: absolute; /* Establece el posicionamiento absoluto */
    top: 50%; /* Coloca el h2 en la mitad superior del contenedor */
    left: 50%; /* Coloca el h2 en la mitad izquierda del contenedor */
    transform: translate(-50%, -50%); /* Centra el h2 horizontal y verticalmente */
    color: #FFFFFF; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 10px; /* Espacio alrededor del texto */
}

body{
    margin: 0;
    padding: 0;
    display: block;
}

header{
    width: 100%;
    background:#275167;
}

/*barra de menu*/
#botonMenu{
    display: none;
}

#botonMenu:checked ~ .menu{
    margin: 0;
}

#etiquetaBotonMenu{
    display: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-right: 1px solid #FFFFFF;
}

#etiquetaBotonMenu img{
    width: 30px;
    height: 30px;
}

.menu{
    position: relative;
    width: 100%;
    background-color: #58B4E7;
}

header label:hover{
    cursor: pointer;
    background-color: #58E7E1;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li{
    flex-grow: 1;
    border-top: 1px solid #F0D6EC;
}

.menu li:hover{
    background-color: #58E7E1;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #31122C;
    text-decoration: none;
}
/*fin barra de menu*/

main{
    width: 100%;
    min-height: 67.5vh;
    display: block;
    background-color: #FFFFFF;
}

/*Carrusel imagenes*/
.contenidoCarrusel{
    width: 100%;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #31122C;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}
  
.prev:hover, .next:hover {
    background-color: #275167;
}

.imagenCarrusel{
    text-align: center;
    animation-name: fade;
    animation-duration: 1s;
    padding: 10px 0px;
}

.imagenCarrusel img{
    width: 100%;
    height: 30em;
    object-fit: cover;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

.textoImagenCarrusel{
    color: #FFFFFF;
    font-size: 2.5em;
    position: relative;
    background-color: #275167;
}
/*fin carrusel imagenes*/

/*animacion*/
.contenidoAnimacion{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.imagenAnimacion img{
    margin: 15px 0;
}

#head {
    bottom: 10%;
    right: 35%;
    position: absolute;
    animation: headAnimation 2s infinite;
}

#stethoscope {
    top: 10%;
    left: 30%;
    position: absolute;
    animation: stethoscopeAnimation 2s infinite;
}

@keyframes headAnimation {
    0% {
        width: 18vw;
        height: 25vh;
    }
    50% {
        width: 20vw;
        height: 30vh;
    }
    100% {
        width: 18vw;
        height: 25vh;
    }
}

@keyframes stethoscopeAnimation {
    0% {
        width: 20vw;
        height: 30vh;
    }
    50% {
        width: 25vw;
        height: 35vh;
    }
    100% {
        width: 20vw;
        height: 30vh;
    }
}
/*fin animacion*/

/*Preguntas frecuentes*/
.contenedorAcordion{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}

.acordion{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color:#FFFFFF;
}

.acordion label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background-color: #17303D;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.acordion label:hover{
    background-color: #275167;
}

.acordion .contenidoAcordion{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;/*oculta a contenido*/
    transition: all 300ms ease;
    border-radius: 5px;
    background-color: #58B4E7;
    text-align: justify;
}

.acordion .contenidoAcordion p{
    padding: 10px 20px;
}

.botonAcordion{
    display: none;
}

.botonAcordion:checked ~ .contenidoAcordion{
    max-height: 600px;
    padding: 15px 0px;
}
/*fin preguntas frecuentes*/

/*Formularios*/
.contenedorFormulario{
    width: 100%;
    display: flex;
    padding: 45px;
    justify-content: center;
}

.formulario{
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #B1DCF4;
}

.formulario .campoFormulario{
    padding: 10px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}

.formulario .campoFormulario label{
    margin: auto;
    margin-left: 2%;
}

.formulario .campoFormulario input{
    width: 40%;
    margin-right: 2%;
}

.formulario #formulario #informacionPregunta{
    resize: none;
    width: 70%;
}

.formulario input[type="submit"] {
    background-color:  #275167;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #4893BC;
}

.formulario .vinculosFormularios{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
}
/*fin formularios*/

/*Citas*/
.cotenedorTarjetas{
    width: 100%;
    display: block;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap; /* Hace que las tarjetas se envuelvan cuando no haya suficiente espacio */
    justify-content: center;
}

.tarjeta{
    width: calc(20% - 40px); /* Ajusta el ancho de las tarjetas para que quepan tres en una fila */
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 500ms ease;
    background-color: #4893BC;
}

.tarjeta:hover{
    transform: translateY(-3%);
    background-color: #58B4E7;
}

.tarjeta img{
    width: 100%;
    height: 210px;
}

.tarjeta .textoTarjeta{
    padding: 5px 5px;
    text-align: justify;
}
/*fin citas*/

/*Buscar Medico*/
.contenedorResultados{
    width: 100%;
    display: block;
}

.list{
    display: flex;
    justify-content: center;
}
/*fin buscarMedico*/

/*Calendario*/
.contenedorCalendario{
    width: 100%;
    margin: 2% 0;
    display: flex;
    justify-content: center;
}

.calendario{
    width: 40%;
    padding: 2%;
    position: relative;
    background-color: #B1DCF4;
    border-radius: 5px;
}

.tablaCalendario{
    margin: auto;
}

.tablaCalendario thead{
    border-bottom: 2px solid #17303D;
}

.tablaCalendario td{
    width: 70px;
    height: 70px;
    text-align: center;
    border: 1px solid #17303D;
}

.contenedorCalendario tbody td{
    cursor: pointer;
}

.tablaCalendario tbody td:hover{
    background-color: #4893BC;
}
/*fin calendario*/

.contenido{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: justify;
    display: flex;
    justify-content: center;
}

.articulo{
    width: 60%;
    font-size: large;
}

.articulo p{
    width: 80%;
    margin: 15px 10%;
    padding: 0px 15px;
    font-size: large;
}

#locales p{
    width: 60%;
    margin-left: 20%;
    background-color: #B1DCF4;
    border-radius: 5px;
    padding: 10px 60px;
}

.botonDescarga{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.botonDescarga a{
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #275167;
}

.botonDescarga:hover a{
    background-color: #4893BC;
}

footer{
    width: 100%;
    background-color:#275167;
}

/*Elementos footer*/
footer .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    padding: 2em 0;
}

footer .grupo1 .cajaFooter p{
    color: #FFFFFF;
    margin-bottom: 10px;
}

footer .grupo1 .cajaFooter a{
    color:  #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .grupo1 .cajaFooter a:hover{
    color: #58E7E1;
}

footer .grupo2{
    background-color: #17303D;
    padding: 1.5em 0;
    text-align: center;
    color: #FFFFFF;
}

footer .grupo2 small{
    font-size: 15px;
}
/*fin elemento footer*/

/*Ajustes responsive*/
@media screen and (max-width:900px) {
    .modal{
        width: 90%;
    }

    #etiquetaBotonMenu{
        display: block;
    }

    .menu{
        position: absolute;
        background-color: #58B4E7;
        width: 70%;
        margin-left: -70%;
        z-index: 2;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top: 1px solid #FFFFFF;
    }

    #head{
        right: 15%;
    }

    #stethoscope {
        left: 15%;
    }
    
    @keyframes headAnimation {
        0% {
            width: 35vw;
            height: 25vh;
        }
        50% {
            width: 40vw;
            height: 30vh;
        }
        100% {
            width: 35vw;
            height: 25vh;
        }
    }

    @keyframes stethoscopeAnimation {
        0% {
            width: 35vw;
            height: 30vh;
        }
        50% {
            width: 40vw;
            height: 35vh;
        }
        100% {
            width: 35vw;
            height: 30vh;
        }
    }

    .articulo{
        width: 100%;
        font-size: large;
    }

    #locales p{
        width: 90%;
        margin-left: 5%;
        padding: 10px 40px;
    }

    .contenedorAcordion{
        width: 90%;
    }

    .contenedorFormulario{
        padding: 20px;
    }

    .formulario{
        width: 100%;
    }

    .formulario #formulario #informacionPregunta{
        width: 90%;
    }

    .tarjeta {
        width: calc(50% - 40px); /* Ajusta el ancho de las tarjetas para que quepan dos en una fila en dispositivos medianos */
    }

    .calendario{
        width: 90%;
        padding: 20px 20px;
    }

    .tablaCalendario thead{
        font-size: 0.5em;

    }

    .tablaCalendario td{
        width: 40px;
        height: 40px;
    }
}   

@media screen and (max-width: 576px) {
    .tarjeta {
        width: calc(100% - 40px); /* Ajusta el ancho de las tarjetas para que ocupen todo el ancho en dispositivos pequeños */
    }
}
/*fin ajustes responsive*/